<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prajwal Langde Capstone</title>
  <style>
    body {
      background-color:lightcyan;
    }
  </style>
</head>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card-content black-text center-align">
            <h3>EBUSS Product Recommendation using Sentiment Analysis              
            </h3>
            <h5>Enter User Name to recieve top 5 product recommendations</h5>
          </div>
          <div class="card-action center-align">
            <div class="row">
              <div class="container">
                <form action="/" method="post">
                  <div class="input-field col s8">
                    <input id="last_name" type="text" name="nm" class="validate">
                    <label for="last_name">User Name</label>
                  </div>
                  <div class="input-field col s4">
                    <button type="submit" name="action">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              {% if products == "None" %}
                <ul class="collection">
                  <li class="collection-item left-align red darken-1 white-text">Invalid User Name</li>
                </ul>
              {% elif submit == "yes" %}
                <div class="row">
                  <br>
                  <h6 class=" centre-align card-title">Recommended Products</h6>
                </div>
                <ul>
                  {% for prod in products %}
                    <li class="left-align">{{ prod }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>